*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url("img/Sunrise-Tree.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    /* font-family: ; */
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-shadow: 
    0px 0px 10px #FBF485,
    0px 0px 20px #FBF485,
    0px 0px 40px #FBF485,
    0px 0px 80px #FBF485,
    0px 0px 120px #FBF485,
    0px 0px 160px #FBF485,
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black,
    4px 4px 2px rgba(150, 150, 150, 1);
    
}



header img{
    width: 200px;
    height: 150px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 20px;
    box-shadow: 0 0 22px 8px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 200px;
    /* box-shadow: */
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 250px;
}

.left-image, .right-image{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 22px 8px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

p{
    display: block;
    width: 50%;
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.4);
    padding: 20px 10px 20px;
    border-radius: 30px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 35px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-shadow: 
    0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 40px #fff,
    0px 0px 80px #fff,
    0px 0px 120px #fff,
    0px 0px 160px #fff;
}

footer{
    text-align: center;
    padding: 20px;
}

footer img{
    display:inline-block;
    max-width: 375px;
    height: auto;
    margin-right: 40px;
    margin-top: -200px;
}